<nav class="top-bar" style="display:none">
	<div class="page-control">
	    <button id="previous" class="control-btn"><span>Previous</span></button>
	    <span id="page-text"></span>
	    <button id="next" class="control-btn"><span>Next</span></button>
	</div>
    <div class="ui-widget">
        <input type="text" id="search-for-movie" placeholder="Search movies"/>
    </div>
</nav>
<div class="content">
         <!--views go here-->
    <div id="list"></div>
    <div id="map">
    	<div id="map-canvas"></div>
    </div>

</div>