body {
	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.content{

}

.content > div{
    display: inline-block;
    vertical-align: text-top;
}

ul.list-ul{

}

ul.list-ul li{

}

ul.list-ul li span {

}

#map-canvas {
	height : 500px;
	width : 500px;
}